.key-body {
  padding: 1rem;
  border: 1px solid rgba(202, 164, 164, 0.055);
  height: 3rem;
  width: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.5rem;
  background-color: #efead7;
  box-shadow: 1px 3px rgb(70, 69, 69), -1px 3px rgb(70, 69, 69);
}
.pressed-key {
  padding: 1rem;
  border: 1px solid rgba(202, 164, 164, 0.055);
  height: 3rem;
  width: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.5rem;
  background-color: #efead7;
  box-shadow: 0 1px rgb(70, 69, 69), 0px 1px rgb(70, 69, 69);
}
#text-input,
#text-input:focus {
  outline: none;
  border: none;
  background-image: none;
  background-color: transparent;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
@tailwind base;
@tailwind components;
@tailwind utilities;
